NEXT_PUBLIC_DOMAIN=http://localhost:3000
NEXT_PUBLIC_API_DOMAIN=http://localhost:3000/api
MONGODB_URI=ADD_YOUR_OWN
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_URL_INTERNAL=http://localhost:3000
NEXTAUTH_SECRET=ADD_YOUR_OWN
CLOUDINARY_CLOUD_NAME=ADD_YOUR_OWN
CLOUDINARY_API_KEY=ADD_YOUR_OWN
CLOUDINARY_API_SECRET=ADD_YOUR_OWN
SMSIR_API_KEY=ADD_YOUR_OWN
SMSIR_TEMPLATE_ID=ADD_YOUR_OWN
